<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hellow Vue</title>
    <link href="./style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <h1>ToDo</h1>
        <div class="todo-list">
            <input type="text" v-model="inputTodo" @keyup.enter="addTodo" placeholder="할 일을 적어주세요!">
            <div class="check_list">
                <label>전 체 : <input type="radio" value="all" v-model="type"></label>
                <label>할 일 : <input type="radio" value="active" v-model="type"></label>
                <label>한 일 : <input type="radio" value="success" v-model="type"></label>
            </div>

            <template v-if="type === 'all'">
                <ul>
                    <li v-for="todo in todos" v-bind:class="{'successTodo':todo.checked}">
                        <div class="todo-item">
                            <label><input type="checkbox" v-model="todo.checked" @click="all(todo)"> {{ todo.text }}</label>
                        </div>
                        <div @click="deleteTodo" class="delete-button">
                            Delete!
                        </div>
                    </li>
                </ul>
            </template>
            <template v-else-if="type === 'active'">
                <ul>
                    <li v-for="todo in activeTodos" v-bind:class="{'successTodo':todo.checked}">
                        <div class="todo-item">
                            <label><input type="checkbox" v-model="todo.checked" @click="success(todo)"> {{ todo.text }}</label>
                        </div>
                        <div @click="deleteTodo" class="delete-button">
                            Delete!
                        </div>
                    </li>
                </ul>
            </template>
            <template v-else-if="type === 'success'">
                <ul>
                    <li v-for="todo in successTodos" v-bind:class="{'successTodo':todo.checked}">
                        <div class="todo-item">
                            <label><input type="checkbox" v-model="todo.checked" @click="rollback(todo)"> {{ todo.text }}</label>
                        </div>
                        <div @click="deleteTodo" class="delete-button">
                            Delete!
                        </div>
                    </li>
                </ul>
            </template>
        </div>
    </div>
    <script src="../../../js/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data: {
                inputTodo: '',
                todos: [
                    {type: 'active', text : '설거지 하기', checked : false},
                    {type: 'active', text : '빨래 하기', checked : false}
                ],
                type: 'all'
            },
            methods: {
                addTodo: function () {
                    this.todos.push({type: 'active', text: this.inputTodo, checked : false});
                    this.inputTodo = '';
                },
                deleteTodo: function (index) {
                    this.todos.splice(index, 1);
                },
                all: function (todo) {
                    if( todo.type === 'success' ){
                        todo.type = 'active'
                    }else{
                        todo.type = 'success'
                    }

                },
                success: function (todo) {
                    todo.type = 'success'
                },
                rollback: function (todo) {
                    todo.type = 'active'
                }
            },
            computed: {
                activeTodos: function () {
                    return this.todos.filter(function (todo) {
                        return todo.type === 'active';
                    });
                },
                successTodos: function () {
                    return this.todos.filter(function (todo) {
                        return todo.type === 'success';
                    });
                }
            }
        });
    </script>
</body>
</html>